<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/source.html' %}
</head>
<style>

</style>
<body>
<div class="layui-row layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset class="layui-elem-field layui-field-title site-title">
                <legend><a name="grid">基本信息</a></legend>
            </fieldset>
            <div class="layui-row">
                <label class="layui-form-label" style="white-space: normal">技术或产品名称</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">
                       {{ temp_ls[0] }}
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <label class="layui-form-label" style="white-space: normal">类别</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">
                        {{ temp_ls[1] }}
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <label class="layui-form-label" style="white-space: normal">产品性质</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">
                        {{ temp_ls[2] }}
                    </div>
                </div>
            </div>
        </div>

        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="grid">详细信息</a></legend>
        </fieldset>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">产品功能性（技术先进性）简述</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                   {{ temp_ls[3] }}
                </div>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">应用场景</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                    {{ temp_ls[4] }}
                </div>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">应用案例</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                    {{ temp_ls[5] }}
                </div>
            </div>
        </div>

        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="grid">企业信息</a></legend>
        </fieldset>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">企业名称</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                    {{ temp_ls[6] }}
                </div>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">联系人</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                    {{ temp_ls[7] }}
                </div>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">联系电话</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                    {{ temp_ls[8] }}
                </div>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">供货能力</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                    {{ temp_ls[9] }}
                </div>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label" style="white-space: normal">企业链接</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                   {{ temp_ls[10] }}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['layer', 'carousel', 'table'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var carousel = layui.carousel;
        var table = layui.table;
        var device = layui.device();


    });
</script>

</html>