<meta charset="UTF-8">
<title>报价管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{{ buildStaticUrl('/assets/libs/layui/layui.js') }}"></script>
<script src="{{ buildStaticUrl('/assets/js/common.js') }}"></script>
<script src="{{ buildStaticUrl('/assets/libs/jquery/clipboard.min.js') }}"></script>
<script src="{{ buildStaticUrl('/assets/module/ClipboardJS.js') }}"></script>
<link rel="stylesheet" href="{{ buildStaticUrl('/assets/libs/layui/css/layui.css') }}">
<link rel="stylesheet" href="{{ buildStaticUrl('/assets/module/admin.css') }}">
<link rel="stylesheet" href="{{ buildStaticUrl('/assets/module/formSelects/formSelects-v4.css') }}">
<script src="{{ buildStaticUrl('/js/common.js') }}"></script>
<link href={{ buildStaticUrl('/assets/images/GinoTsai.png') }} rel="icon">