<!DOCTYPE html>
<html>
<head>
    {% include 'common/source.html'%}
    <link rel="stylesheet" href="{{ buildStaticUrl('/assets/css/error-page.css') }}">
</head>
<body>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- 正文开始 -->
<div class="error-page">
    <img class="error-page-img" src="{{ buildStaticUrl('/assets/images/ic_404.png') }}">
    <div class="error-page-info">
        <h1>404</h1>
        <div class="error-page-info-desc">啊哦，你访问的页面不存在(⋟﹏⋞)</div>
        <div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['admin'], function () {
        var $ = layui.jquery;
        var admin = layui.admin;

    });
</script>
</body>
</html>